MONGO_URL="mongodb://localhost:27017"
DB_NAME="rage_production"
CORS_ORIGINS="http://localhost:3000"
JWT_SECRET="CHANGE-THIS-TO-A-STRONG-64-CHAR-RANDOM-STRING"
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
