MONGO_URL="mongodb+srv://..."
DB_NAME="rage"
CORS_ORIGINS="http://localhost:3000,https://rage-v5xv.vercel.app"
JWT_SECRET="CHANGE-THIS-TO-A-STRONG-64-CHAR-RANDOM-STRING"
JWT_EXPIRE_MINUTES=1440
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
RESEND_API_KEY=""
